<div class="webModalDiv">
    <div class="header">
        <h1>{{ evenement?.name }}</h1>
        <!--         <h1> {{ evenement?.author?.firstName}}</h1> -->
    </div>
    <div class="modal-body">
        <div class="div-img-location">
            <img class="img-location" src="https://www.justacote.com/photos_entreprises/cafe-de-l-univers-clermont-ferrand-146505929057.jpg" alt="" />
        </div>
        <div class="details">
            <div class="image-organisateur-groupes">
                <img [src]="account.avatar64" alt="photo de profil" />
                <div>
                    <!--                     <h2 *ngFor="let author of evenement.author">  {{ author?.firstName}}</h2> -->
                    <h2 *ngFor="let user of evenement.users">
                        {{ user?.firstName }} {{ user?.lastName }}
                    </h2>
                    <h3 *ngFor="let group of evenement.groups">{{ group.name }}</h3>
                </div>
            </div>
            <h3>{{ evenement?.date | date: "dd/MM/yyyy H:mm" }}</h3>
            <h3>{{ evenement?.location.adress }} à {{ evenement?.location.city }}</h3>
            <div id="participantsPhotos">
                <img [src]="account.avatar64" alt="photo de profil" />
                <img [src]="account.avatar64" alt="photo de profil" />
                <img [src]="account.avatar64" alt="photo de profil" />
            </div>
            <h4>X places restantes</h4>
        </div>
    </div>
    <div class="eventSiteLink">
        <a href="https://www.tripadvisor.fr/Restaurant_Review-g187091-d9795059-Reviews-Brasserie_L_univers-Clermont_Ferrand_Puy_de_Dome_Auvergne_Rhone_Alpes.html">
      https://www.tripadvisor.fr/Restaurant_Review-g187091-d9795059-Reviews-Brasserie_L_univers-Clermont_Ferrand_Puy_de_Dome_Auvergne_Rhone_Alpes.html
    </a>
    </div>
    <p>
        {{ evenement?.comment }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates ex, nisi corrupti facilis voluptate magni placeat consequatur provident voluptatem dolorem, voluptas, rerum inventore reprehenderit nesciunt ratione consectetur
        repellat dignissimos!
    </p>
    <div class="modal-footer">
        <a class="galleryLocation" (click)="showGallery(location)">
            <button class="btn btn-primary">
        <fa-icon [icon]="picturesIcon"></fa-icon>
      </button>
        </a>
        <button class="btn btn-primary" (click)="modify()" *ngIf="userIsAuthor">
      Modifier
    </button>
        <button class="btn btn-success">Je viens</button>
        <button class="btn btn-danger">J'annule</button>
    </div>
</div>

<div class="phoneModalDiv">
    <div class="header">
        <div class="imageEvent">
            <img src="https://www.justacote.com/photos_entreprises/cafe-de-l-univers-clermont-ferrand-146505929057.jpg" alt="" />
            <h4 id="places-restantes">X places restantes</h4>
            <div id="participantsPhotos">
                <img [src]="account.avatar64" alt="photo de profil" />
                <img [src]="account.avatar64" alt="photo de profil" />
                <img [src]="account.avatar64" alt="photo de profil" />
            </div>
        </div>
        <div id="nom-date-event">
            <h1>{{ evenement?.name }}</h1>
            <h3>{{ evenement?.date | date: "dd/MM/yyyy H:mm" }}</h3>
        </div>
        <h3 class="ml-4 mb-0 mt-0">{{ evenement?.location.adress }}</h3>
    </div>
    <div class="modal-body">
        <div class="details">
            <div class="image-organisateur-groupes">
                <img [src]="account.avatar64" id="photo-profil" alt="photo de profil" />
                <div>
                    <h2 *ngFor="let user of evenement.users">
                        {{ user?.firstName }} {{ user?.lastName }}
                    </h2>
                    <h3 *ngFor="let group of evenement.groups">{{ group.name }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="eventSiteLink">
        <a href="https://www.tripadvisor.fr/Restaurant_Review-g187091-d9795059-Reviews-Brasserie_L_univers-Clermont_Ferrand_Puy_de_Dome_Auvergne_Rhone_Alpes.html">
      https://www.tripadvisor.fr/Restaurant_Review-g187091-d9795059-Reviews-Brasserie_L_univers-Clermont_Ferrand_Puy_de_Dome_Auvergne_Rhone_Alpes.html
    </a>
    </div>
    <p>
        {{ evenement?.comment }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates ex, nisi corrupti facilis voluptate magni placeat consequatur provident voluptatem dolorem, voluptas, rerum inventore reprehenderit nesciunt ratione consectetur
        repelrem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates ex, nisi corrupti facilis voluptate magni placeat consequatur provident voluptatem dolorem, voluptas, rerum inventore reprehenderit nesciunt ratione consectetur repellat
        dilat dignissimos!Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates ex, nisi corrupti facilis voluptate magni placeat consequatur provident voluptatem dolorem, voluptas, rerum inventore reprehenderit nesciunt ratione consectetur
        repelrem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates ex, nisi corrupti facilis voluptate magni placeat consequatur provident voluptatem dolorem, voluptas, rerum inventore reprehenderit nesciunt ratione consectetur repellat
        dilat dign test
    </p>
    <div class="modal-footer">
        <button class="btn btn-success">Je viens</button>
        <button class="btn btn-danger">J'annule</button>
    </div>
</div>