<div class="modalDiv">
    <div class="header">
        <h1> Nom de l'événement</h1>
    </div>
    <div class="modal-body">
        <img src="https://www.justacote.com/photos_entreprises/cafe-de-l-univers-clermont-ferrand-146505929057.jpg" alt="">
        <div class="details">
            <div class="image-organisateur-groupes">
                <img [src]='account.avatar64' alt="photo de profil">
                <div>
                    <h2> Organisateur</h2>
                    <h3> Groupes </h3>
                </div>
            </div>
            <h3> Date (03/09/2021 13h10) </h3>
            <h3> Adresse du lieu </h3>
            <div id="participantsPhotos">Participants</div>
            <h4> X places restantes</h4>
        </div>
    </div>
    <a href="https://www.tripadvisor.fr/Restaurant_Review-g187091-d9795059-Reviews-Brasserie_L_univers-Clermont_Ferrand_Puy_de_Dome_Auvergne_Rhone_Alpes.html">
        https://www.tripadvisor.fr/Restaurant_Review-g187091-d9795059-Reviews-Brasserie_L_univers-Clermont_Ferrand_Puy_de_Dome_Auvergne_Rhone_Alpes.html
    </a>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates ex, nisi corrupti facilis voluptate magni placeat consequatur provident voluptatem dolorem, voluptas, rerum inventore reprehenderit nesciunt ratione consectetur repellat dignissimos!
    </p>
    <div class="modal-footer">
        <button class="btn btn-danger">J'annule</button>
    </div>
</div>