<div class="main-screen">
    <div class="container">

        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Christophe.png" alt="Christophe">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Christophe_Fun.png" alt="Christophe Fun">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Coordinateur-de-nous et pas leader-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du Coca-cola grand crus uniquement!<br>Fait du hockey sur glace, histoire d'avoir son quota d'action pour se défouler !</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Anthony.png" alt="Photo de profil">
                                <div class="credit-developper">ANTHONY</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Anthony.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ANTHONY</div>
                                        <div class="credit-developper-sub">Coordinateur-de-lui-même et Helpeur des autres
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Ouais, ouais..C'est pas faux"</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Fonction : Coordinateur-de-nous et pas leader-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Fonction : Coordinateur-de-nous et pas leader-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Fonction : Coordinateur-de-nous et pas leader-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Fonction : Coordinateur-de-nous et pas leader-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Fonction : Coordinateur-de-nous et pas leader-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>