<div class="main-screen">
    <div class="container">

        <div class="row justify-content-md-center">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Anthony.png" alt="Photo de profil">
                                <div class="credit-developper">ANTHONY</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Anthony_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ANTHONY</div>
                                        <div class="credit-developper-sub">Helpeur des autres
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Appelez moi The Stagiaire! Car mon stage fut exceptionnel, et depuis, j'ai signé pour un nouveau tour..."</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Christophe.png" alt="Christophe">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Christophe_Fun.png" alt="Christophe Fun">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Coordinateur-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Je connais le mot 'diplomatie' mais je ne sais pas encore l'utiliser."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Elliot.png" alt="Photo de profil">
                                <div class="credit-developper">ELLIOT</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Elliot_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ELLIOT</div>
                                        <div class="credit-developper-sub">
                                            Apprenti du côté du Back
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Bientôt, je serais maître du Back à la place du maître du Back..."</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Florian.png" alt="Photo de profil">
                                <div class="credit-developper">FLORIAN</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Florian_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">FLORIAN</div>
                                        <div class="credit-developper-sub">
                                            Quelqu'un de très très occupé
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Je ne compte pas mon travail en heures passées mais en bières vidées !"</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Hamza.png" alt="Photo de profil">
                                <div class="credit-developper">HAMZA</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Hamza_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">HAMZA</div>
                                        <div class="credit-developper-sub">
                                            Maître du côté du Back
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Mes punchlines sont rares mais anthologiques."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Ilyes.png" alt="Photo de profil">
                                <div class="credit-developper">ILYES</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Ilyes_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ILYES</div>
                                        <div class="credit-developper-sub">
                                            Metteur de bonne ambiance
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Happy day every Days! Le tout, c'est de bosser dans la bonne ambiance."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Nicola.png" alt="Photo de profil">
                                <div class="credit-developper">NICOLA</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Nicola_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">NICOLA</div>
                                        <div class="credit-developper-sub">
                                            Le seul a être sérieux
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Ma devise : "Pour tout faire dans les temps, il suffit de pas prendre trop de choses à faire"</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Nicolas.png" alt="Photo de profil">
                                <div class="credit-developper">NICOLAS</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Nicolas_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">NICOLAS</div>
                                        <div class="credit-developper-sub">
                                            Soutien moral essentiel
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"J'étais là pour donner mes idées, faire mes remarques... après je laisse le boulot aux autres."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/RomainB.png" alt="Photo de profil">
                                <div class="credit-developper">ROMAIN B.</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/RomainB_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ROMAIN B.</div>
                                        <div class="credit-developper-sub">
                                            En phase de formation accéléré
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Viens te former auprès d'experts qu'ils disaient... viens te former auprès d'experts, experts mon oeil !"</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/RomainP.png" alt="Photo de profil">
                                <div class="credit-developper">ROMAIN P.</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/RomainP_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ROMAIN P.</div>
                                        <div class="credit-developper-sub">
                                            L'architecte
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"J'étais à peine arrivé que je me suis retrouvé embarqué dans cette team de fous... de vrais fous !"</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>