<div class="main-screen">
    <div class="container">

        <div class="row justify-content-md-center">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Anthony.png" alt="Photo de profil">
                                <div class="credit-developper">ANTHONY</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Anthony_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ANTHONY</div>
                                        <div class="credit-developper-sub">Helpeur des autres
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Expertise du merge niveau trop fort !"</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/Christophe.png" alt="Christophe">
                                <div class="credit-developper">CHRISTOPHE</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/Christophe_Fun.png" alt="Christophe Fun">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">CHRISTOPHE</div>
                                        <div class="credit-developper-sub">
                                            Coordinateur-de-nous
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"En cours d'apprentissage de la diplomatie. Le problème, c'est que c'est long à maitrîser."</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">FLORIAN</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">FLORIAN</div>
                                        <div class="credit-developper-sub">
                                            Quelqu'un de très très occupé
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Je ne compte pas mon travail en heures passées mais en bières vidées !"</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">ELLIOT</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ELLIOT</div>
                                        <div class="credit-developper-sub">
                                            Apprenti du côté du Back
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Bientôt, je serais maître du Back à la place du maître du Back..."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">HAMZA</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">HAMZA</div>
                                        <div class="credit-developper-sub">
                                            Maître du côté du Back
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"Mes punchlines sont rares mais exceptionnelles."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">ILYES</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ILYES</div>
                                        <div class="credit-developper-sub">
                                            Le vrai sympa de l'équipe
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">NICOLA</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">NICOLA</div>
                                        <div class="credit-developper-sub">
                                            Le seul qui a bossé
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Ma devise : "Pour tout faire dans les temps, il suffit de pas prendre trop de choses à faire"</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="https://sdk.bitmoji.com/render/panel/a41da708-81e9-4ec3-9364-9d8748f7063d-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                <div class="credit-developper">NICOLAS</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="https://sdk.bitmoji.com/render/panel/a95db658-ab64-407c-ad67-8409dffc4426-3b2c02fc-42ed-492f-a1af-c74e8be4c112-v1.png?transparent=1&palette=1" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">NICOLAS</div>
                                        <div class="credit-developper-sub">
                                            Soutien moral essentiel
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">"J'étais là pour donner mes idées, faire mes remarques... après je laisse les autres bosser."</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/RomainB.png" alt="Photo de profil">
                                <div class="credit-developper">ROMAIN B.</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/RomainB_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ROMAIN B.</div>
                                        <div class="credit-developper-sub">
                                            En phase de formation accéléré
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 col-credit">
                <div class="card-credit">
                    <div class="card-credit-content">
                        <div class="card-credit-minimized">
                            <div class="credit-avatar">
                                <img src="../../../assets/images/RomainP.png" alt="Photo de profil">
                                <div class="credit-developper">ROMAIN P.</div>
                            </div>
                            
                        </div>
                        <div class="card-credit-detailed">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="credit-avatar">
                                            <img src="../../../assets/images/RomainP_Fun.png" alt="Photo de profil">
                                        </div>
                                    </td>
                                    <td style="width: 50%;">
                                        <div class="credit-developper">ROMAIN P.</div>
                                        <div class="credit-developper-sub">
                                            L'architecte
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="credit-developper-bio">Bois du coca, fait de hockey histoire d'avoir son quota d'action !</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>