<div class="main-screen">
  <div *ngIf="events?.length > 0; else noEvent">
    <h3>Cette semaine</h3>
    <div class="card-list row row-cols-auto">
      <div class="col" *ngFor="let event of events">
        <app-eventCard [evenement]=event type="upCommingCard" ></app-eventCard>
      </div>
    </div>
  </div>
  <ng-template #noEvent>
    <div class="noEvent">
      <h3 class="alert alert-danger">Vous n'avez pas d'événement à venir</h3>
      <button (click)="openDetailEvent()"> Test</button>
    </div>
  </ng-template>
</div>