.main-screen {
  h3 {
    margin-left: 20px;
    font-size: 2rem;
  }
 
  .cardList {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    
    }
}


// ElseDIV
  .noEvent {
    width: 50%;
    margin: auto;

    h3{
      text-align: center;
      font-size: 1rem;
    }
  }

  .card-title{
    width: 100%;
    background-color: violet;
    height: 300px;
  }


  //Button add event
  .addButton {
    bottom: 10%;
    right: 5%;
    border-radius: 100%;
    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }
  .addButtonDiv {
    .plusIcon {
      color: white;
    }
  }
  