.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-image: url('../../../../../assets/images/login_wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .row-login {
      width: 100%;
      .COBOL{
        width: 100%;
    /*     display: flex;
        justify-content: right; */
        text-align: right;
        padding-right: 10%;
        font-size: small;
      }
      .center {
        text-align: center;
        a {
          margin-top: 15px;
        }
      }
     
    }
  
  }