.main-screen {
  h3 {
    margin-left: 20px;
    font-size: 2rem;
  }
 
  .card {
    min-width: 300px;
    max-width: 30%;
    margin: 20px 30px;
    .card-informations {
      width: 100%;
      margin: 10px 0;
    }
    .btn-card-agenda {
      display: flex;
      justify-content: space-between;
      a {
        margin: 0 15px;
        width: 120px;
        padding: auto;
      }
    }
  }
  .cardList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

}

//Button add event
@media screen and (max-width: 576px) {
  .addButton {
    bottom: 50px;
    right: 30px;
    border-radius: 100%;
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  .addButtonDiv {
    .plusIcon {
      color: white;
    }
  }
}

@media screen and (min-width: 576px) {
  .addButton {
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }
  .addButtonDiv {
    .plusIcon {
      color: white;
    }
  }
}



// ElseDIV

.noEvent {
  width: 50%;
  margin: auto;

  h3{
    text-align: center;
    font-size: 1rem;
  }
}
