<div class="main-screen">

    <div class="tableDiv">
    <h1> Les bonnes adresses</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nom du lieu</th>
            <th scope="col">Adresse</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mistral</th>
            <td>4 Rue Marx Darmoy</td>
          </tr>
            <tr *ngFor="let location of listLocations">
              <th scope="row" >{{ location.name}} </th>
              <td>{{ location.address}}</td>
            </tr>
        </tbody>
      </table>
    <div class="tableDiv">

      <div class="addButtonDiv">
        <a [routerLink]="['/home', 'create-location']" routerLinkActive="active-link" class="btn btn-success addButton"> 
          <fa-icon [icon]="plusIcon" class="mx-auto plusIcon"></fa-icon> </a>
      </div>
</div>