<div class="main-screen">

    <div class="tableDiv">
    <h1> Les bonnes adresses</h1>
      <table class="table table-striped">
        <!--<thead style="background-color: #154194;">
          <tr>
            <th scope="col" style="width:25%;">Nom du lieu</th>
            <th scope="col" style="width:50%;">Adresse</th>
            <th scope="col" style="width:25%;">Télephone</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>-->
        <tbody>
          <tr *ngFor="let location of listLocations" style="vertical-align: middle;">
            <td scope="row" style="width:25%; vertical-align: middle;"><h2>{{location.name}}</h2></td>
            <td scope="row" style="width:50%; vertical-align: middle;"><fa-icon [icon]="addressIcon"></fa-icon>&nbsp;{{location.adress}}, {{ location.city}}</td>
            <td scope="row" style="width:25%; vertical-align: middle;"><fa-icon [icon]="phoneIcon"></fa-icon>&nbsp;{{location.phone}}</td>
            <td scope="row" style="vertical-align: middle;">
              <a class="galleryLocation" (click)="showGallery(location)">
                <button class="btn btn-primary">
                  <fa-icon [icon]="picturesIcon"></fa-icon>
                </button>
              </a>
            </td>
            <td scope="row" style="vertical-align: middle;">
              <a class="editLocation" (click)="openLocation(location)">
                <button class="btn btn-success">
                  <fa-icon [icon]="editIcon"></fa-icon>
                </button>
              </a>
            </td>
            <td scope="row" style="vertical-align: middle;">
              <a class="deleteLocation" (click)="deleteLocation(location)">
                  <button class="btn btn-danger">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="tableDiv">

      <div class="addButtonDiv">
        <!--<a [routerLink]="['/home', 'create-location']" routerLinkActive="active-link" class="btn btn-success addButton"> -->
        <a (click)="newLocation()" class="btn btn-success addButton">
          <fa-icon [icon]="plusIcon" class="mx-auto plusIcon"></fa-icon>
        </a>
      </div>
</div>