<div class="card">
    <img src="{{ base64 }}" class="card-img-top" alt="..." (click)="openDetailEvent()" />
    <div class="card-body">
        <div class="card-informations">
            <h2 class="card-title">{{ evenement.name }}</h2>
            <p class="card-text">
                <fa-icon [icon]="clockIcon"></fa-icon>&nbsp;{{ evenement.date | date: "dd/MM/yyyy H:mm" }}
                <br />
                <fa-icon [icon]="mapMarkerIcon"></fa-icon>&nbsp;{{ location.name }}
            </p>
        </div>
        <!-- {{evenement.description.length > 200 ? (evenement.description | slice:0:200)+'...' : evenement.description }} -->
        {{ evenement.comment }}
        <div class="btn-card-agenda">
            <button  class="btn btn-primary" (click)="openDetailEvent()">
                <fa-icon [icon]="infoIcon"></fa-icon>&nbsp;Détails
            </button>
            <button *ngIf="type === 'upCommingCard'" class="btn btn-success" [disabled]="imComing" (click)="sendResponseEvent(true)">
                <fa-icon [icon]="grinIcon"></fa-icon>&nbsp;Je viens
            </button>
            <button class="btn btn-danger" [disabled]="!imComing" (click)="sendResponseEvent(false)">
                <fa-icon [icon]="tearIcon"></fa-icon>&nbsp;Je viens pas
            </button>
        </div>
    </div>
</div>