.card {
  min-width: 300px;
  max-width: 50%;
  margin: 20px 30px;
  .card-informations {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn-card-agenda {
    display: flex;
    justify-content: space-between;
    
    margin-top: 15px;

    a {
      width: 120px;
      padding: auto;
    }
  }

  
  @media screen and (max-width: 576px) {
    .card-img-top {
      height: 150px;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .card-img-top {
      height: 250px;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 992px) {
    .card-img-top {
      height: 300px;
      object-fit: cover;
    }
  }
}

