<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-footer">
      <button *ngIf="buttonsLibelle.buttonSuccess && buttonsLibelle.buttonSuccess.length > 0" type="button" class="btn btn-success" (click)="activeModal.close(true)">{{buttonsLibelle.buttonSuccess}}</button>
      <button *ngIf="buttonsLibelle.buttonDanger && buttonsLibelle.buttonDanger.length > 0" type="button" class="btn btn-danger" (click)="activeModal.close(false)">{{buttonsLibelle.buttonDanger}}</button>
  </div>