<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-footer" *ngIf="buttonsType === 'yesNo'">
      <button  type="button" class="btn btn-success" (click)="activeModal.close(true)">Oui</button>
      <button  type="button" class="btn btn-danger" (click)="activeModal.close(false)">Non</button>
  </div>
  <div class="modal-footer" *ngIf="buttonsType === 'validerAnnuler'">
      <button  type="button" class="btn btn-primary" (click)="activeModal.close(true)">Valider</button>
      <button  type="button" class="btn btn-danger" (click)="activeModal.close(false)">Annuler</button>
  </div>